.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.input-items {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 8%;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.slider-image {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  aspect-ratio: 2/3;
  cursor: pointer;
}

.slider-image:hover {
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  aspect-ratio: 2/3;
  cursor: pointer;
  filter: brightness(80%);
}

.anime-title {
  padding: 0.25rem;
  text-align: center;
  font-weight: 500;
}

.popular-container {
  margin-bottom: -10px;
}

.popular-title {
  font-weight: bold;
  font-size: 18px;
  padding: 0.25rem;
}
.popular {
  margin-top: 10px;
}

.solid {
  border-top: 3px solid #bbb;
}
.dropdown-center {
  display: flex;
  align-items: center;
}

.footer {
  height: 10rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-text {
  letter-spacing: 2px;
  color: white;
}

.footer-container {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icons {
  float: right;
}

.icon-padding {
  margin-left: 3rem;
}

.source {
  padding-top: 1rem;
  font-size: 10px;
}

.input-bg {
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .navbar-links-md {
    align-self: center;
  }
  .nav-mobile-pt {
    padding-top: 3rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 15rem;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-icons {
    justify-content: center;
  }
  .footer-space {
    padding-bottom: 1rem;
  }
  .footer-text {
    text-align: center;
  }
  .icon-padding {
    margin-top: 1rem;
    margin-inline: 2rem;
  }
}

@media screen and (min-height: 792px) {
  .rel-cont {
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
  .cont-log {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
}
